body {
    font-family: 'Amaranth';
    color: white;
}

.title {
    font-size: xxx-large;
}

.subheading {
    font-size: xx-large;
}

p {
    font-size: x-large;
}

.left {
    display: inline;
    float: left;
}

.left {
    display: inline;
    float: left;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 4000,
    'GRAD' 0,
    'opsz' 90;
  
    font-size: 48px;
    color: white;
  
  }

.material-symbols-outlined:hover {
    background-color: rgba(201, 185, 185, 0.475);
}

.material-symbols-outlined:active {
    color: rgb(184, 96, 96);
}

.robot {
    background-color: white !important;
    color: black !important;
    font-size: 24px;
}