div.inside,
a {
  /*border: 1px solid black;*/
  font-size: 20px;
  padding-top: 0px;
}

.buttons {
  border: 1px solid black;
  background-color: white;
}

.buttons:hover {
  background-color: lightgray;
  cursor: pointer;
}

.continue {
  float: right;
  padding: 50px;
}

.back {
  float: left;
  padding: 50px;
}

p {
  text-align: center;

  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 25px;
}

.container {
  padding-top: 25%;
  padding-bottom: 25%;
  background-color: white;
}

.inside-container {
  border: 1px solid black;
  background-color: palegoldenrod;
}

.t2.inside-container {
  height: 124px;
  background-color: white;
}
